/* Add global styles */
:root {
  --slidev-theme-primary: #00ff95;
}

.slidev-layout {
  background-color: #121212;
  color: #ffffff;
}

h1, h2, h3 {
  color: var(--slidev-theme-primary) !important;
}

.slidev-layout.cover {
  background-color: #121212;
  background-image: 
    linear-gradient(rgba(0, 255, 149, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 149, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}